body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  width: 100%;
}
#root {
  width: 100%;
}
.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.calculator > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.button {
  flex: 1;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #ccc;
}

@media (max-width: 600px) {
  .calculator {
      max-width: 100%;
      border-radius: 0;
  }
}
.calInput {
  max-width: 400px;
  padding-top: 20px;
  background-color: #ffffff;
  border: 0px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}